{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'vendor/css/index.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <section>
    <!--    <div class="alert alert-light text-center" role="alert">-->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mt-5"><font color="white">Shop</font></h1>
                <p>
                    <font color="white">
                        Great gear and the best brands in the Shop.<br>
                        Free shipping nationwide!<br>
                        -20% for new customers.
                    </font>
                </p>
                <button id="start-purchase-btn" type="button" class="btn btn-lg">
                    <a id="start-purchase-link" href="{% url 'products:index' %}">
                        Start shopping
                    </a>
                </button>
            </div>
        </div>
    </div>
</section>
{% endblock %}